.list { 
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  

  



}
.pageHeader {text-align: center;
      font-size: 20px;
      margin: 1em;
      color: pink;
}
.shop {border: 1px dotted black;
  
  flex-basis: 25%;
  text-align: left;
  font-size: 20px;
  

}
      
      
      
      




